$xs: 0,
$sm: 576px,
$md: 768px,
$lg: 992px,
$xl: 1200px,
$xxl: 1400px

.main-navbar
	position: absolute
	margin-left: 0px
	padding-left: 0px
	z-index: 2
	width: fit-content
	ul
		li
			a 
				text-decoration: none
				color: white
			span
				transition: .2s ease-in
				width: 0px
				height: 2px
				background: white
				display: block
		li:hover > span
			transition: .5s ease-out
			width: 150px


.navbar-nav .nav-link.active 
	color: #31c5f4 !important
	font-weight: 900

.navbar-toggler-icon
	filter: invert(1)
	
.scroll-navbar
	background: #12153c
	-webkit-box-shadow: 0px 10px 30px rgb(0 0 0 / 5%)
	box-shadow: 0px 10px 30px rgb(0 0 0 / 5%)
	padding: 0
	-webkit-transition: -webkit-transform .5s
	transition: -webkit-transform .5s
	-o-transition: transform .5s
	transition: transform .5s
	transition: transform .5s, -webkit-transform .5s

/*.logo-small 
	padding: 2px
	width: 60px
	display: inline-block
	float: left */


.logo-container
	display: block
	width: 70px
	height: 70px
	display: inline-block
	float: left
	margin: auto

/* .section__navbar
	display: flex
	flex-direction: row
	align-items: center
	justify-content: flex-start
	background: #12153d
	padding-left: 45px
	padding-top: 25px */

.section__navbar-items
	list-style: none
	display: flex
	flex-direction: row
	/* column-gap: 50px */
	margin-bottom: 0
	margin-top: 0

/* .section__navbar-items a
	text-decoration: none
	color: white
	&:hover
		color: #31c5f4 */


.section__navbar
	padding: 20px 30px /* Large padding which will shrink on scroll (using JS) */
	transition: 0.4s /* Adds a transition effect when the padding is decreased */
	/* position: fixed Sticky/fixed navbar */
	width: 100%
	z-index: 99
	/* top: 0 */

/*@media (max-width: $md)
	.section__navbar
		display: none */

.section__navbar-items a
	color: #fff
	text-align: center
	padding: 12px
	text-decoration: none
	font-size: 18px
	line-height: 25px
	border-radius: 4px
	&:hover
		color: #31c5f4

.login
	background: #31d2f2 !important
	color: #000 !important
	font-weight: 600 !important
	float: right

.section__navbar-items .login
	text-align: center
	text-decoration: none
	padding: 10px
	font-size: 18px
	line-height: 25px
	border-radius: 4px
	&:hover
		background: #0b5ed7 !important
		color: #fff !important
		border: solid #0b5ed7 1px

.logo-small
	transition: 0.4s
	width: 60px
	display: inline-block

.section__navbar-container
	display: flex
	flex-direction: row
	align-items: center
	justify-content: flex-start


/* @media screen and (max-width: 580px) 
	#navbar 
		padding: 20px 10px !important Use !important to make sure that JavaScript doesn't override the padding on small screens 
	#navbar a 
		float: none
		display: block
		text-align: left	  
	#navbar-right 
		float: none */

/* @media (min-width: 992px) */ 


/* @media (min-width: 768px) and (max-width: 991px) */ 

@media (max-width: 768px)
	.logo-small
		display: none
	.section__navbar-items
		flex-direction: column